

{% extends "navbase.html" %}
{% block content %}
<div class="container">
    <div class="row ">
        <div class="col">
            <div class="container marketing">
                <div class="row">
                  <div class="col-lg-4">
                    <img style="width: 265px;" src="../static/img /main/image2.jpg">
                    <h2 class="fw-normal">GALERA DO 3º ANO</h2>
                    <p>Ganhou como melhor escola do ano no Cabo de Santo Agsotinho e é conceituada</p>
                    <p><a class="btn btn-secondary" href="#">Ver Mais&raquo;</a></p>
                  </div>
                  <div class="col-lg-4">
                    <img style="width: 265px; height: 50%;" src="../static/img /main/image1.png">
                    <h2 class="fw-normal">Enem 2024</h2>
                    <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
                    <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
                  </div>
                  <div class="col-lg-4">
                    <img style="width: 265px;" src="../static/img /main/image3.jpg">
                    <h2 class="fw-normal">Tecnologia</h2>
                    <p>And lastly this, the third column of representative placeholder content.</p>
                    <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
                  </div>
                </div>
            
                <hr class="featurette-divider">
            
                <div class="row featurette">
                  <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Escola Preparada para receber seu filho <span class="text-body-secondary">Com ótimo ambiente</span></h2>
                    <p class="lead">Nos ultimos anos os alunos tiveram um ótimo desempenho recebendo todo apoio pedagógico e estrutural da escola </p>
                  </div>
                  <div class="col-md-5">
                    <img src="../static/img /main/image2.jpg" style=" width: 500px; height: 370px;">
                  </div>
                </div>
            
                <hr class="featurette-divider">
            
                <div class="row featurette">
                  <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1">Pioneiro na educação tecnológica <span class="text-body-secondary">Desenvolvimento em Python</span></h2>
                    <p class="lead">Nos ultimos anos os alunos tiveram um ótimo desempenho com a parte de desenvolvimento. </p>
                  </div>
                  <div class="col-md-5">
                    <img src="../static/img /main/image3.jpg" style=" width:450px; height: 310px;">
                  </div>
                </div>
            
                <hr class="featurette-divider">
            
                <div class="row featurette">
                  <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Aulas interativas e <span class="text-body-secondary">Desenvolvendo habilidades de oratória</span></h2>
                    <p class="lead">Todos os alunos tem recebido maior apoio na comunicação para direciona-los ao mercado de trabalho</p>
                  </div>
                  <div class="col-md-5">
                    <img src="../static/img /main/image1.png" style=" width:450px; height: 310px;">
                  </div>
                </div>
            
                <hr class="featurette-divider"> 
              </div>             
        </div>
    </div>
</div>
{% endblock %}