{%extends "navbase.html"%}
{% block content %}
<div class="col">
    <form method="POST" action="/register">
        <div class="mb-3">
            <label for="username" class="form-label">Nome de Usuário:</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email de Cadastro:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" required>
            <div id="emailHelp" class="form-text">Nunca compartilharemos seu e-mail com mais ninguém.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Senha de Cadastro:</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
    
</div>

{% endblock %}
